<h2>Marvel Strike Force</h2>
Vist <a href="https://www.marvelstrikeforce.com">Official Marvel Strike Force</a> site for more informaton about the game.

<h2>Sigma MSF</h2>
<p>Greetings from the Sigma MSF Cluster. Join greatness today. We invite you to join and see for yourself if sigma is the right place for you.</p>
<p>Join our <a href="https://discord.gg/KbRnyzrnPk">Discord</a> server.</p>

<h2>Nation-X Family</h2>
<p>We are a group of 30+ INDEPENDENT alliances sharing a single server for mutual recruitment benefits. We have some cluster rules which includes member behaviour, coordination between NX Alliances, which are mention in our server.</p>
<p>Join our <a href="https://discord.gg/Ph6JqRa">Discord</a> server if you're looking for a new Alliance or new home for your Alliance.</p>